@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Comfortaa;
    src: url(../fonts/Comfortaa.ttf);
}

@font-face {
    font-family: ddin;
    src: url(../fonts/D-DIN.otf);
}

@font-face {
    font-family: Overpass;
    src: url(../fonts/Overpass.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter.ttf);
}

.darkMo {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-duration: 0.3s;
}

body {
    @apply bg-white dark:bg-black;
    touch-action: pan-x pan-y;
}