@tailwind base;
@tailwind components;
@tailwind utilities;

.icon path {
    stroke: white;
}

@font-face {
    font-family: Comfortaa;
    src: url(../fonts/Comfortaa.ttf);
}

@font-face {
    font-family: ddin;
    src: url(../fonts/D-DIN.otf);
}

.darkMo {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-duration: 0.3s;
}
